.btn:disabled {
  background-color: gray;
  border: 1px solid gray;
  pointer-events: none;
}
.btn {
  width: 100%;
  background: #21092f;
  border-radius: 8px;
  border: 1px solid #21092f;
  font-size: 18px;
  color: #fff;
  padding: 1.5rem 0;
  cursor: pointer;
}
