.header {
  background-color: #21092f;
  color: #fff;
  padding: 3.2rem 1.6rem 5.1rem;
}

.contentWrapper {
  max-width: 343px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1024px) {
  .header {
    height: 100%;
    width: 483px;
  }

  .contentWrapper {
    max-height: 527px;
  }
}

.cardBack {
  height: 15.7rem;
  width: 28.6rem;
  border-radius: 0.6rem;
  margin-right: 0;
  margin-left: auto;
  background-image: url("../img/bg-card-back.png");
  background-size: cover;
  font-size: 9px;
  position: relative;
}
.cvc {
  position: absolute;
  top: 70px;
  right: 33px;
}
@media (min-width: 1024px) {
  .cardBack {
    width: 447px;
    height: 245px;
    top: 50vh;
    left: 4vw;
  }

  .cvc {
    font-size: 14px;
    top: 45%;
    right: 13%;
  }
}
@media (min-width: 1440px) {
  .cardBack {
    left: 14vw;
    top: 24vw;
  }
}

.cardFront {
  position: absolute;
  top: 8.9rem;
  left: 0;
  height: 15.7rem;
  width: 28.6rem;
  border-radius: 0.6rem;
  padding: 1.76rem 1.9rem 1.96rem;
  background: rgb(0, 27, 36);
  background: linear-gradient(
    163deg,
    rgba(0, 32, 36, 1) 0%,
    rgba(9, 81, 121, 1) 0%,
    rgba(214, 0, 255, 1) 100%
  );
  filter: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.142481));
}

.logo {
  width: 5.4rem;
  margin-bottom: 3.7rem;
}
.displayNumber {
  font-size: 1.8rem;
  width: 72%;
  margin: 0 auto 1.7rem;
}
.displayName {
  text-transform: uppercase;
}
.wrapper {
  position: absolute;
  bottom: 1.96rem;
  left: 1.9rem;
  right: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .cardFront {
    width: 447px;
    height: 245px;
    top: 12%;

    border-radius: 10px;
    padding: 28px 32px 26px;
  }

  img {
    width: 8.4rem;
    margin-bottom: 3.7rem;
  }
  .displayNumber {
    font-size: 28px;
    letter-spacing: 3.4222px;
    text-align: left;
    width: 84%;
  }
  .displayName,
  .displayExpireDate {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .wrapper {
    padding: 0 12px;
  }
}
@media (min-width: 1440px) {
  .cardFront {
    left: 8vw;
    top: 10vw;
  }
}
