.inputWrapper {
  margin-bottom: 2rem;
}
label {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #21092f;
  display: block;
  margin-bottom: 0.9rem;
}
input {
  border: 1px solid #dfdee0;
  border-radius: 8px;
  font-size: 18px;
  padding: 1rem 0 1rem 1rem;
}
